

/* Table of contents
-----------------------------------------------
- Grid
- Base Styles
- Typography
- Logo
- Links
- Superfish menus
- Sidebar menus
- Buttons
- Banners
  -- home page banner background
- Forms
  -- Includes verrides for QIRC
- Lists
- Quick tabs
- Code
- Tables
- Alerts
- Spacing
- Utilities
- Breadcrumbs
- Files & labels
- Accordions
- Misc
 -- Sitemap Overrides
 -- Admin Overrides
- Clearing
- Media Queries
- gradients
- Sidebar CSS Animations (currently not used)
- Print Media Query
*/


/* Grid
-----------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
  
  .col-contained{
	min-height:120px;
	
}

.qirc-home-bg{
	/*background: #294C7B url("../images/5938_QIRC-Concept-Header-Banner_1-2.jpg");*/
	background-repeat: no-repeat;	
}

.qirc_flexi_header{
	background: url("../images/5938_QIRC-Concepts_Revised-header.jpg");
	background-repeat: no-repeat;
	background-color:#6D1916;
}
.qirc_menu_background{
  background: url("../images/5938_QIRC-Concepts_Revised-menu.jpg");
  background-repeat:no-repeat;
}
.wrapper {
    margin-bottom:100px;
    /* Height of footer*/
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background-image: url("../images/5938_QIRC-Concepts_Revised-footer-100height.jpg");
	background-repeat:no-repeat;
	background-color: #152E4A;
	height:100px
}

.view-certified-agreements-dropdown{
	margin-bottom:30px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
	
}

/* For devices larger than 550px */
@media (min-width: 700px) {
  .container {
    width: 95%;}
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

  /* Add row margins for home page */
  
  .qirc-row-margins{  padding-bottom: 50px; }
  .mini-height {height:5px;}
 /* .wrapper{ margin-left:50px; }*/
  #block-views-home-page-items-block > div.block__content > div > div > div > div:nth-child(1){
	padding-top:30px;
  }	
      
  .col-contained{
	  min-height:130px;
  }
  
}


/* Base Styles
-----------------------------------------------*/
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
  min-height:100%;
  position:relative;
  margin:0;
  padding:0;
  
  }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Helvetica Neue Bold',sans-serif;
  color: #222; 
  background-color: #fff;
  margin:0;
  padding:0;
  height:100%
  }
   
    

/* Typography
-----------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;   color:#18497D;}
h2 { font-size: 2.6rem; line-height: 1.25; color:#18497D; margin-top:2rem; }
h3 { font-size: 2.0rem; line-height: 1.3;   color:#18497D;}
h3.ui-accordion-header { font-size: 1.4rem !important; line-height: 1.3 !important;  
	 color:#18497D !important;  }
h4 { font-size: 1.8rem; line-height: 1.35;color:#18497D; }
h5 { font-size: 1.2rem; line-height: 1.5;color:#18497D; }
h6 { font-size: 1.0rem; line-height: 1.6;color:#18497D;}

h1.qirc_title{
	margin-top:-15px;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 2.6rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 1.8rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.1rem; }
}

p {
  margin-top: 0; }

#quickset-faq > div.ui-accordion-content article p{
   
}

#quickset-faq > div.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active > article > div > div > div > p {font-size:1.5rem;}
#quickset-faq > div.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active > article > div > div > div > ul > li {
	font-size:1.5rem;
}
#quickset-faq > div.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-

accordion-content-active > article > div > div > div > h4{
	
}

.whitetext{
    color: #fff;
    font-weight: 500;
    font-size: 2.0rem;
}  

.qirc_updated_date{
    margin-top:30px;	
    text-align:center;	
}

.ui-widget-content a,
.ui-widget-content a:visited {
    color: #222222/*{fcContent}*/;
    font-size: 1.3rem !important;
    text-decoration:none !important;	
}


.ui-widget-content a:hover{
	text-decoration:underline;
} 

.ui-helper-reset {
    font-size: font-size: 1.4rem;

}


/* Logo
---------------------------------------------------*/


.qirc_logo{

 width:auto; 
 margin-top:10px;
 padding-bottom:25px;
 margin-left: 25px;
}  
  
  
/* Home page icons 
---------------------------------------------------*/
div#block-views-home-page-items-block div.qirc-front-icons a img  {
	
}



/* Links
-----------------------------------------------*/
a {color: #124556; }
a:hover {color: #124556; text-decoration:underline;} 
#quickset-trading_hours > a { text-decoration:none !important; }
 
.qirc_lite_grn_bg a {font-weight:900;font-size:1.8rem !important;}
.qirc_lite_bg{ background-color: #7c97b0; color:#fff; min-height:110px;   }
/*.qirc_lite_bg:hover{ background-color: #1c557b; color:#fff; min-height:110px;   }*/

.qirc_lite_bg:hover{ background-color: #801f1c; color:#fff; min-height:110px;   }



 .home-tabs-container > a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    padding-right: 1%;
 } 
 
.home-tabs-container > a:hover{ text-decoration:underline; } 

.qirc-front-icons {
    min-height: 135px;
    background: #1c557b;
    min-width: 50px;
    float: right;
}  


.home-tabs-container{  
    padding-top: 1.5em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    text-align: left;
    /* width: 30%; */
    /* margin-left: 2%; */
    display: block;
    padding-right: 5%;
    margin-right: 5%
}


#block-views-home-page-items-block > div.block__content > div > div > div > div > div > div > a > img {
	padding-top: 1.8em;
	padding-left: 1em;
	margin-right: 1em;
}
 
#block-views-home-page-items-block > div.block__content > a > img {
	 
}
 
 /* Superfish & Menus
 ------------------------------------------------- */
 
 ul{
	padding-left:50px;
	list-style-type: disc;
 }
 
 .region-navigation{
	margin-left:8%;
	
 }
 
 div#block-superfish-3{
	
 }
 
 ul#superfish-3{
	 margin-top:10px;
	 display: inline-block;
 }
 
 ul#superfish-3 > li > a{
	 color:#fff;
	 font-weight:bold;
	 text-decoration:none;
	 font-size:0.9em;
 }
 
 ul#superfish-3 > li > a:hover{
	 color:#fff;
	 font-weight:bold;
	 text-decoration:underline;
 }
 
 ul#superfish-3 > li > a.active{
	 text-decoration:underline;
 }
 /* Superfish 2 Main nav
 ------------------------------------------------- */
 ul#superfish-2{
	 text-align:center;
	 
 }
 
 
  ul#superfish-2 > li{
    border-right: 1px solid #fff;
    font-size: 1.4rem;
    padding-bottom: 10px;
    padding-top: 13px;
    padding-right: 15px;
    padding-left: 15px;
  }
 
 ul#superfish-2 > li,  
 ul#superfish-2 > li > a {
	font-weight:bold;
	text-decoration:none;
	color:#fff;
 }
 
 ul#superfish-2 > li.last{
	border-right:none;
 }
 
 
 ul#superfish-2 > li  > a:active,
 ul#superfish-2 > li:hover,
 ul#superfish-2 > li.active-trail {
	background:#6C82A0 !important; /* hover color */ 
 }
 
 
ul#superfish-2 > ul{
   background: #1D4B80 !important;
}

 ul#superfish-2  li  ul  li:hover, 
 ul#superfish-2  li  ul  li  a:active,
 ul#superfish ul li li:hover, 
 ul#superfish ul li:hover {
	 background:#6C82A0 !important;
 }

ul#superfish-2 > ul, 
ul#superfish-2 ul, 
ul#superfish-2 ul li
{
    padding-bottom: 5px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    background:	#1D4B80;

}


ul#superfish-2 ul li a, l#superfish-2 ul li a:visited{
  color:#fff;
  text-decoration: none;
}
ul#superfish-2 ul li a, 
ul#superfish-2 ul li a:active,
ul#superfish-2 ul li a:visited{
     color:#fff;	
}
ul#superfish-2 ul li a:hover {
	text-decoration:underline;
	color:#fff;
}


 ul#superfish-2  ul ul{
	margin-top:5px !important;
 }
 

 
ul#superfish-2 li ul li {
	padding-left:0.5em;
	padding-top:10px;
	
}
 

  
ul#suprfish-2 ul li a{
	padding-top:15px;
}
 
  ul#superfish-2 > li > a > .sf-sub-indicator,.sf-sub-indicator{
	  display:none;
  } 
 
 
/* Superfish 1
 --------------------------------------------*/
 
 ul#superfish-1 > li:before{
	color:white;
	content: "|";
	display:inline-block;
 } 
 
ul#superfish-1 > li.first:before{
	content: "";
} 
 
 ul#superfish-1 > li > a {
    font-size: 0.8em !important;
    padding-left: 17px;
    padding-right: 5px;
    margin-top: -20px;
 }
 
 
 ul#superfish-1 > li.first > a:before, ul#superfish-1 > li.first{

	content:none !important;
}
 
 
 ul#superfish-1 > li > a {
	font-size:0.8em !important;
	padding-left: 17px;
 }
 
 ul#superfish-1{
	 /*margin-top:5px;*/
	 padding-top:15px;
 }
 
 
 
 /* Regions
----------------------------------------------------*/
 
.region-quicklinks{
	float: right;
    margin-right: 290px;
    font-weight: 600;
	font-size:1.1em;
	margin-top:10px
}


.region-headerphone{
    clear: both;
    position: relative;
    /* right: 10px; */
    left: 650px;
    width: 200px;
  }

/* Sidebar Menus
----------------------------------------------------*/

/* left hand navigation */
.sidebars_wrapper {
    background-color: #BFD759;
    width: auto;
    float: left;
    height: 100%;
    padding-bottom: 50000em;
    margin-bottom: -50000em;
}
.sidebars_wrapper > a {
    display: block;
    float: left;
    width: 50px;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
    position: relative;
    z-index: 1;
}

.sidebars_wrapper > a > div > span {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    margin-left: -2px;
    line-height: 22px;
    position: absolute;
    white-space: nowrap;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translate(-100%, -100%) rotate(-90deg);
    transform: translate(-100%, -100%) rotate(-90deg);
    position: fixed;
    top: 66px;
}


.sidebars_wrapper > a:nth-child(2) {
    background-color: rgb(54,54,54);
	
}

.sidebars_wrapper > a:hover:nth-child(2){
    -webkit-animation-name: fadesidebars; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadesidebars;
    animation-duration: 2s;
}

.sidebars_wrapper > a:hover:nth-child(1){
    -webkit-animation-name: fadesidebars; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadesidebars;
    animation-duration: 2s;
}



/* Buttons & Inputs
-----------------------------------------------*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
 /* border-radius: 4px; */
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  background-color:#1b2c48;
  color:#fff;	
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  border-color: #888;
  outline: 0; 
  background: #1b2c48; 
}


.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #1b2c48;
  border-color: #33C3F0; 
}


.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,


input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1b2c48;
  border-color: #1EAEDB; 
}

input[type="submit"]#edit-submit-table-of-i-forms{
   padding-left:10px;
   padding-right:10px;
   margin-left: -10px !important;
   padding-left: 10px !important;
   padding-right: 10px !important;
   margin-top:34px !important;
}  



/* Forms
-----------------------------------------------*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  /*border-radius: 4px;*/
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-bottom:0px; 	
  }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

 /* Overrides for QIRC */ 
 
 input[name="qirc_search"]{
	 /*display:none;*/
 }
 
#edit-keys-1,#edit-search-block-form--2{
	margin-left: 5px;
    height: 30px;
    width: 220px;
    border-radius: 0px !important;
	/*background-image: url("../images/search_button.png");*/
	background-repeat:no-repeat;
	background-color:#fff;
	background-position: right top;
}
#edit-keys-1,#edit-search-block-form--3{
margin-left: 5px;
    height: 30px;
    width: 220px;
    border-radius: 0px !important;
	/*background-image: url("../images/search_button.png");*/
	background-repeat:no-repeat;
	background-color:#fff;
	background-position: right top;
}


.region-awards-dropdown{
	float:right;
}

#edit-submit{
    position: relative;
    left: 230px;
    top: -50px;
    margin-left;5px;
}
#edit-submit--2{
   position: relative;
   right: -5px;
   top: 10px;
}



.qirc-quicklinks{
	position: relative;
    /*right: -300px;*/
}


.form-item-keys-1{
	margin-top:0.5em
}

#edit-submit-1{
		display:none;
}

#edit-keys-1--2{
	height:25px;
}

.region-searchblock{
   position: absolute;
   right: 10px;
   top:10px;
  	
}

.qircclass{
	
	height:auto;
}

#edit-submit--3 {
	margin-top:1.0em;
}


  div.qr_icon > a > img{
	  position:relative;
	  top:-25px;
  }
  

#block-views-table-of-i-forms-block-1 > div > div > div.view-filters{
	background-color:#dadde2;
}

#edit-field-form-category-tid-wrapper{
   margin-left: 15px;
   margin-top: 5px;
}

#edit-field-form-category-tid-wrapper{
   margin-left: 15px;
   margin-top: 5px;
}

#views-exposed-form-table-of-i-forms-block-1 > div > div{
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 15PX;
}

	



/* Lists
-----------------------------------------------*/
ul {
	margin-left: 50px;
   }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }
  
.item-list ul li {
	margin:0px;
	padding:0px;
}

 /* Quick tabs
-----------------------------------------------*/

ul.quicktabs-tabs.quicktabs-style-zen li {
	background-image:none;
	border:1px solid #294C7A;
} 
  
 ul.quicktabs-tabs.quicktabs-style-zen li a {
	background-color:#F4FAFD;
	background-image:none;
}

   

ul.quicktabs-tabs.quicktabs-style-zen li.active a, 
ul.quicktabs-tabs.quicktabs-style-zen li.active a:hover {
	background-image:none !important;
	background-color:#1D4051;
	color:#fff;
}	


ul.quicktabs-tabs.quicktabs-style-zen {
    margin: 0 0 10px 0;
    padding: 0 0 3px;
    font-size: 1em;
    list-style: none;
    height: 21px;
    background: none; 
}

ul.quicktabs-tabs.quicktabs-style-zen li a{
	padding-left:15px;
	padding-right:15px;
}
	
/* Code
-----------------------------------------------*/
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
-----------------------------------------------*/


td {
  padding: 5px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

td:first-child {
  padding-left: 10px; 
  }
  
th:last-child,
td:last-child {
  padding-right: 0; }

tr.even{
	background-color:#FFF;
}

tr.odd{
	background-color:#F5FAFD;
}
th{
	background-color:#294C7A;
	color:#fff;
}

th:first-child{
	
	padding-left:10px;
}


td.views-field-field-ca-number{
    width:12% !important ;
    font-size: 0.8em !important;
    color: #2E4D79;
}

td.views-field-field-date-certified{
	width:15% !important ;
	font-size: 0.8em !important;
}

/** add some bootstrap table styles **/
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6
}

.table .table {
    background-color: #fff
}

.table-sm td,
.table-sm th {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #dee2e6
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px
}

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-primary,
.table-primary>td,
.table-primary>th {
    background-color: #b8daff
}

.table-hover .table-primary:hover {
    background-color: #9fcdff
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #9fcdff
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
    background-color: #d6d8db
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #c8cbcf
}

.table-success,
.table-success>td,
.table-success>th {
    background-color: #c3e6cb
}

.table-hover .table-success:hover {
    background-color: #b1dfbb
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #b1dfbb
}

.table-info,
.table-info>td,
.table-info>th {
    background-color: #bee5eb
}

.table-hover .table-info:hover {
    background-color: #abdde5
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #abdde5
}

.table-warning,
.table-warning>td,
.table-warning>th {
    background-color: #ffeeba
}

.table-hover .table-warning:hover {
    background-color: #ffe8a1
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #ffe8a1
}

.table-danger,
.table-danger>td,
.table-danger>th {
    background-color: #f5c6cb
}

.table-hover .table-danger:hover {
    background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #f1b0b7
}

.table-light,
.table-light>td,
.table-light>th {
    background-color: #fdfdfe
}

.table-hover .table-light:hover {
    background-color: #ececf6
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #ececf6
}

.table-dark,
.table-dark>td,
.table-dark>th {
    background-color: #c6c8ca
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b9bbbe
}

.table-active,
.table-active>td,
.table-active>th {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, .075)
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.table-dark {
    color: #fff;
    background-color: #212529
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #32383e
}

.table-dark.table-bordered {
    border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05)
}

.table-dark.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, .075)
}



/** end bootstrap tables **/


/** overrides */
th:last-child {
    padding-left: 10px;
}



/* Alerts
-----------------------------------------------*/

.alerts{
	background-color:#c3eefb;
	border-color: #00478F;
}

.alert-blue{
	/*background-color: #EEF7FB;*/
	background-color: #F1F2F4;
	border: 1px solid #DADDE2;
   /*border: #6981a1 1px solid;*/
    padding-bottom: 20px;
    padding-top: 20px;
	padding-left:30px;
	line-height:1.2;
}
 
.alert-blue a, .alert-blue a:hover, .alert-blue a:active{
	color:#1A2D48 !important;
	
}

.alert-blue a:hover{
	
}

.alert-width-1{
	
} 

p.on-this-page{
	font-weight: 700;
	color:#194A81;
    
}
div.alert-blue.alert-width-1 > p{
	
}


ul#on_this_page{
	list-style-type:none !important;
}

.btd{

}
  
/* Spacing
-----------------------------------------------*/
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
   }

  
  /* Images
  -------------------------------------------------*/


/* Utilities
-----------------------------------------------*/

.u-indent{
	margin-left:20px;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

.u-text-center{
	text-align:center;
	width:100%;
	margin:auto;
}  

.u-eighty-width{
	width:80%;
}

.u-medium-topborder{
	margin-top:20px;
}

.u-page-b{
	padding-bottom:50px;
	padding-left:30px;

	
}


/* Breadcrumbs
--------------------------------------------------*/
.breadcrumb:before {    
	font-family: 'FontAwesome';
    content: "\f015";
	padding-right:3px;
	color:#51563E;
	display:none;
    
}

.breadcrumb{
	margin-top: -20px !important ;
	border-bottom: 1px solid #DADDE2 !important;
}

/* Files
--------------------------------------------------*/
div.field.field-name-field-file.field-type-file.field-label-above > div.field-label {
	display:none;
}

/* Accordions - override jquery ui styles
--------------------------------------------------*/
.ui-state-default{
	border: 1px solid #18497D;;
	background: #F4FAFD;
	padding:2px;
}

.ui-accordion-header{
	border-radius:0;
	moz-border-radius: 0;
	-webkit-border-radius: 0px;
}

.ui-accordion .ui-accordion-header a{
	padding-top:1px;
	padding-bottom:1px;
	color: #18497D;
	
}

.ui-corner-all{
	border-radius:none !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #18497D;
    text-decoration: none;
}  
  
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #18497D;
    text-decoration: none;
}

/* Colours
----------------------------------------------------*/


/*** misc ***/
.qirc_lite_grn_bg{
	background-color:#EEF7FB; 
	padding-top:4px;
}
/* dark blue menu */
.qirc_mid_grn_bg{
     padding: 3px;
	/*background: #234B7C url("../images/5938_QIRC-Concept-Header-Banner_1-3.jpg");*/
}

.qirc_lite_grn_bg:hover, .qirc_lite_grn_bg:hover a {
	background-color: #234B7C;
	color:#fff;
	text-decoration:none;
}



/* blues */

.qirc_lite_blue_bg{
	background-color: #234B7C;
}
 
.qirc_mid_blue{
/*background-color: #294C7A;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d1525+0,342430+24,152f4d+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f0b1d+0,342430+24,152f4d+100 */
 background: #234C81; /* Old browsers */
/* background: -moz-linear-gradient(left, rgba(111,11,29,1) 0%, rgba(52,36,48,1) 24%, rgba(21,47,77,1) 100%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(left, rgba(111,11,29,1) 0%,rgba(52,36,48,1) 24%,rgba(21,47,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(to right, rgba(111,11,29,1) 0%,rgba(52,36,48,1) 24%,rgba(21,47,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f0b1d', endColorstr='#152f4d',GradientType=1 ); /* IE6-9 */
	
	
	
}
.qirc_drk_steel_blue{
	/*background-color: #681217; */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#152f4d+1,342430+21,342430+32,74121b+93 */
   /* background: #093f56;  Old browsers */
/* background: -moz-linear-gradient(left, rgba(21,47,77,1) 1%, rgba(52,36,48,1) 21%, rgba(52,36,48,1) 32%, rgba(116,18,27,1) 93%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(left, rgba(21,47,77,1) 1%,rgba(52,36,48,1) 21%,rgba(52,36,48,1) 32%,rgba(116,18,27,1) 93%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right, rgba(21,47,77,1) 1%,rgba(52,36,48,1) 21%,rgba(52,36,48,1) 32%,rgba(116,18,27,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152f4d', endColorstr='#74121b',GradientType=1 );  IE6-9 */

	
	
}


/** Footer Region **/

.region-footercopy{
	color:#FFF;
	font-size:0.7em;
	font-weight:bold;
	clear:both;
}




/* Misc
-----------------------------------------------*/
hr {
  margin-bottom: 3.5rem;
  border-width: 0;
  border: 1px solid #DADDE2;

  }

/* styles for desktop */
.tinynav {
  display: none;}

/* styles for mobile */
.tinynav {
  display: block;}
  


  
  
  
/* Sitemap
-----------------------------------------------*/
div.site-map-box-menu > h2.title{
	display:none;
}
  

/* Clearing
-----------------------------------------------*/

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
-----------------------------------------------*/
#edit-field-document-category-tid{
	width:30em !important;
}



#superfish-2-toggle > span:nth-child(1){
	display:none;
}

.sf-accordion-toggle{
 display:none;	
}

@media (max-width: 319px){
	.qirc_logo{max-width: 230px;}
    .col-contained{margin-bottom:2px;border: #234B7C 1px solid}
	.region-quicklinks {float: none;}	
	.menu-left-9-col{margin-top:-10px;}
	ul#superfish-3-accordion > li { float:none; }
	ul#superfish-2-accordion > li { float:none; }
	.container{max-width:reset;}
	.qirc-footer-gradient{ background-image:none;background-color:#1B2D46}	
}



/* Mobiles iphones 6/7/8 */
@media (min-width: 320px) and (max-width:549px){
	
	
	/* regions */
	.region-frontpagepanels{ margin-top: 15px;}
	.region-quicklinks {float: none;}
	.region-searchblock {position: absolute;top: -25px;left: 50px;}
	.region-quicklinks {float: none;margin-right:0px;margin-top: 0px;margin-left: -10px;}
	.region-navigation{margin-left:0px;}
	.region-headerphone {clear: both;position: static;}
	.region-searchblock{float:none; position:absolute;top:-25px;  }
	div.region.region-headerphone p {padding-left:5px;}
	
    .sidebars_wrapper{display:none;}
    .qirc-quicklinks{ right:0px; }
    .col-contained{margin-bottom:2px ;}
	.qirc_logo{max-width:275px;}
	.menu-left-9-col{margin-top:-10px;}
	
	
	/* search */
	#edit-submit {position: relative;left: 230px;top: -35px;}
	#edit-submit--2 {position: absolute;right: -5px;top: 0px;}
	
	
	/* superfish */
	ul#superfish-3-accordion > li { float:none !important; }
	ul#superfish-2-accordion > li { float:none; }
	ul#superfish-1 {margin-top:10px;padding-top:0;}
	ul#superfish-1 > li::before {content: "";}
	ul#superfish-2-accordion > li a { text-decoration:none;}
	ul#superfish-2-accordion > li a:hover { text-decoration:underline;}
	
	/* front icons */
	div.qirc-front-icons a img{ padding-top:0px;float:right;margin-top: -30px;max-width: 30px;height: auto;padding-right: 20px;}
	.qirc-front-icons img {width:20px;height:auto;}
	.qirc-front-icons{min-height: unset;background: unset;}
	.footer {position:unset;bottom: 0;left: 0;right: 0;background-image: none;background-repeat: no-repeat;background-color: #152E4A;height: unset;}
	.qirc_menu_background {background-image: none;background-color: #234B7C;}
	.home-tabs-container > a {font-size: 1.0em;margin-right: 2px;padding-right: 5px;}
	.qirc_lite_bg, .qirc_lite_bg:hover{min-height:60px;}
	#block-views-home-page-items-block > div.block__content > div > div > div > div > div > div > a > img {padding-top: unset;padding-left: unset;}	
	
	
	/* breadcrumbs */
	.breadcrumb { margin-top: 20px !important; }
	
	
	
	
	
	
}/* end mobile media */


/* iPad landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
	.col-contained{min-height:unset;margin-left:0px}
	.three.columns{width:100%;}
	.qirc_lite_bg, .qirc_lite_bg:hover{min-height:60px;}
	
} /* end iPad landscape */


/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width: 649px) {
	/*.sidebars_wrapper{display:none;}*/
	.qirc_logo{max-width:300px;}
	.col-contained{margin-bottom:2px  !important;}
    ul#superfish-3-accordion > li { float:none; }	
	ul#superfish-2-accordion > li { float:none; }
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 959px) {
	/*.tinynav {display: none;}*/
	.qirc_logo{max-width:300px;}
	.col-contained{margin-bottom:2px  !important;}	
}



@media(min-width: 960px) and (max-width: 999px){
	.qirc_logo{max-width:300px;}
	.home-tabs-container > a { font-size:1.0em}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	/*
	.region-navigation .block__content > .menu {display: block;}*/
	.tinynav {display: none;}
	.qirc_logo{max-width:300px;}
	.home-tabs-container > a { font-size:1.0em}
}

@media (min-width: 1025px){
	qirc_logo{max-width:400px;}
}
/* Larger than Desktop HD */
@media (min-width: 1200px) and (max-width: 1365px) {
	.qirc_logo{max-width:400px;}
	.home-tabs-container > a { font-size:1.0em}
	
}

@media (min-width: 1280px) {
	.home-tabs-container > a { font-size:1.2em}
	.qirc_logo{max-width:400px;}
	/*.region-headerphone{left:580px;}*/
}






/** Home Panel Animation 

/* Safari 4.0 - 8.0 
@-webkit-keyframes fadeover {
    from {background-color: rgb(54,54,54);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

/* Standard syntax 
@keyframes fadeover {
    from {background-color: rgb(41,76,122);}

	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

.col-contained:hover{
	-webkit-animation-name: fadeover; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 
    animation-name: fadeover;
    animation-duration: 2s;
}

**/



/* Sidebar CSS Animation */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadesidebars {
    from {background-color: rgb(54,54,54);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

/* Standard syntax */
@keyframes fadesidebars {
    from {background-color: rgb(54,54,54);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

.qirc-footer-gradient{
	/*background: rgba(102,15,21,1);
	background: -moz-linear-gradient(left, rgba(102,15,21,1) 0%, rgba(102,15,21,1) 12%, rgba(4,50,71,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,15,21,1)), color-stop(12%, rgba(102,15,21,1)), color-stop(100%, rgba(4,50,71,1)));
	background: -webkit-linear-gradient(left, rgba(102,15,21,1) 0%, rgba(102,15,21,1) 12%, rgba(4,50,71,1) 100%);
	background: -o-linear-gradient(left, rgba(102,15,21,1) 0%, rgba(102,15,21,1) 12%, rgba(4,50,71,1) 100%);
	background: -ms-linear-gradient(left, rgba(102,15,21,1) 0%, rgba(102,15,21,1) 12%, rgba(4,50,71,1) 100%);
	background: linear-gradient(to right, rgba(102,15,21,1) 0%, rgba(102,15,21,1) 12%, rgba(4,50,71,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660f15', endColorstr='#043247', GradientType=1 );
	background:url("../images/5938_QIRC-Concept-FooterBanner.jpg");
	background-repeat: no-repeat;*/
}


/* Page overrides */
div.field.field-name-field-icon-.field-type-image > div > div > a > img{
	display:none !important;
}

div.field.field-name-field-icon.field-type-image > div > div > a > img{
	display:none !important;
}




/* ==========================================================================
   PRINT MEDIA QUERY
   ========================================================================== */
.qirc_print-icon{
	
	border: 1px solid maroon;
	
}
.qirc_print-icon:hover{
	background-color:#E8EAED;
}

   
@media print{
	.qirc_print{display:none !important;}
	.qirc-quicklinks{display:none !important;}
        .region-searchblock{display:none !important;}
	.superfish-2{display:none !important;}
	.region-navigation {display:none !important;}
	.block-superfish-3{display:none !important;}
	.qirc_menu_background{display:none !important;}
}
