/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Superfish menus
- Buttons
- Banners
	-- home page banner background
- Forms
	-- Includes verrides for QIRC
- Lists
- Quick tabs
- Code
- Tables
- Alerts
- Spacing
- Utilities
- Breadcrumbs
- Files & labels
- Accordions
- Misc
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
  
  .col-contained{
	min-height:100px;
	padding:5px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

  /* Add row margins for home page */
  
  .qirc-row-margins{
	  margin-bottom: 20px;
  }
  
  
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.2rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 2.6rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 1.4rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.1rem; }
}

p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #124556; }
a:hover {
  color: #124556; 
  text-decoration:underline;
  } 
  


 .home-tabs-container > a{
	text-decoration:none;
	font-weight:bold;
	color: #124556;
	font-size:1.2em;
	margin-left: 3.5em;
    display: block;
	text-align:left;
 } 
 
 .home-tabs-container > a:hover{
	 text-decoration:underline;
 }
 
 .home-tabs-container{

 }
.qirc-front-icons {
	margin-top: 20px;
 }

#block-views-home-page-items-block > div.block__content > div > div > div > div > div > div > a > img {
	float:left !important;
	display:block !important;
}
 
#block-views-home-page-items-block > div.block__content > a > img {
	 
}
 
 /* Superfish Menus
 ------------------------------------------------- */
 ul#superfish-3{
	 margin-bottom:10px;
	 margin-top:10px;
 }
 
 ul#superfish-3 > li > a{
	 color:#fff;
	 font-weight:bold;
	 text-decoration:none;
	 font-size:0.9em;
 }
 
 ul#superfish-3 > li > a:hover{
	 color:#fff;
	 font-weight:bold;
	 text-decoration:underline;
 }
 
 ul#superfish-3 > li > a.active{
	 text-decoration:underline;
 }
 
  ul#superfish-2 > li{
	  border-right:1px solid #fff;
  }
 
 ul#superfish-2 > li,  ul#superfish-2 > li > a {
	 font-weight:bold;
	 text-decoration:none;
 }
 
 
 
 ul#superfish-2 > li  > a:hover,  ul#superfish-2 > li  > a:active,ul#superfish-2 > li  > a.active{
	 background:#6981a1 !important;
 }
 

 
 ul#superfish-2 > li > ul > li > a:hover,  ul#superfish-2 > li > ul > li:hover, ul#superfish-2 > li > ul > li > a:active, {
	 background:#789403 !important;
	
 }

 
 
  ul#superfish-2 > li > a > .sf-sub-indicator{
	  position:absolute;
	  top:1em;
  }
 
 ul#superfish-1 > li > a:after{
	color:white;
	padding-left:10px;
	content: "\007C";
 } 
 
 ul#superfish-1 > li > a {
	 font-size:0.8em !important;
 }
 
.region-quicklinks{
	float:right;
}

/* Buttons & Inputs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #294C7A;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #294C7A;
  border-color: #1EAEDB; }

  


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

 /* Overrides for QIRC */ 
 
 input[name="qirc_search"]{
	 
 }
 
#edit-keys-1,#edit-search-block-form--2{
	margin-left: 10px;
    height: 30px;
    border-radius: 0px !important;
	margin-right:5px;
}

#edit-submit{
	margin-top:1.0em;
}

.qirc-quicklinks{
	position: relative;
    /*right: -300px;*/
}


.form-item-keys-1{
	margin-top:0.5em
}

#edit-submit-1{
		display:none;
}

#edit-keys-1--2{
	height:25px;
}

.region-searchblock{
	float:right;
	margin-right:1.2em;;
}

.qircclass{
	width:25px;
	height:auto;
}

#edit-submit--3 {
	margin-top:1.0em;
}


  div.qr_icon > a > img{
	  position:relative;
	  top:-25px;
  }
  






/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }
  
.item-list ul li {
	margin:0px;
	padding:0px;
}

 /* Quick tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul.quicktabs-tabs.quicktabs-style-zen li {
	background-image:none;
	border:1px solid #294C7A;
} 
  
 ul.quicktabs-tabs.quicktabs-style-zen li a {
	background-color:#F4FAFD;
	background-image:none;
}

   

ul.quicktabs-tabs.quicktabs-style-zen li.active a, 
ul.quicktabs-tabs.quicktabs-style-zen li.active a:hover {
	background-image:none !important;
	background-color:#1D4051;
	color:#fff;
}	


ul.quicktabs-tabs.quicktabs-style-zen {
    margin: 0 0 10px 0;
    padding: 0 0 3px;
    font-size: 1em;
    list-style: none;
    height: 21px;
    background: none; 
}

ul.quicktabs-tabs.quicktabs-style-zen li a{
	padding-left:15px;
	padding-right:15px;
}
	
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

td:first-child {
  padding-left: 10px; 
  }
  
th:last-child,
td:last-child {
  padding-right: 0; }

tr.even{
	background-color:#f4f4f4;
}

tr.odd{
	background-color:#F5FAFD;
}
th{
	background-color:#294C7A;
	color:#fff;
}

th:first-child{
	
	padding-left:10px;
}

/* Alerts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.alerts{
	background-color:#f8fff0;
	border-color: #be7;
}
  
  
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

  
  /* Images
  -------------------------------------------------*/


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-indent{
	margin-left:20px;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

.u-text-center{
	text-align:center;
}  

.u-eighty-width{
	width:80%;
}

.u-medium-topborder{
	margin-top:40px;
}



/* Breadcrumbs
--------------------------------------------------*/
.breadcrumb:before {    
	font-family: 'FontAwesome';
    content: "\f015";
	padding-right:3px;
	color:#51563E;
    
}

/* Files
--------------------------------------------------*/
div.field.field-name-field-file.field-type-file.field-label-above > div.field-label {
	display:none;
}

/* Accordions - override jquery ui styles
--------------------------------------------------*/
.ui-state-default{
	border: 1px solid #294C7A;
	background: #F4FAFD;
	padding:2px;
}

.ui-accordion .ui-accordion-header a{
	padding-top:1px;
	padding-bottom:1px;
}

.ui-corner-all{
	border-radius:none !important;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* styles for desktop */
.tinynav {
  display: none;}

/* styles for mobile */
.tinynav {
  display: block;}
  
  
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*

*/



#superfish-2-toggle > span:nth-child(1){
	display:none;
}

.sf-accordion-toggle{
 display:none;	
}

@media (max-width: 319px){
	.qirc_logo{max-width: 230px;}
    .col-contained{margin-bottom:2px;}
	.region-quicklinks {float: none;}	
	.menu-left-9-col{margin-top:-10px;}
}



/* Larger than mobile */
@media (min-width: 320px) and (max-width:549px){
    .sidebars_wrapper{display:none;}
    .qirc-quicklinks{ right:0px; }
    .region-searchblock{float:none;  }
    .col-contained{margin-bottom:2px ;}
	.qirc_logo{max-width:275px;}
	.region-quicklinks {float: none;}	
	.menu-left-9-col{margin-top:-10px;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width: 649px) {
	/*.sidebars_wrapper{display:none;}*/
	.qirc_logo{max-width:300px;}
	.col-contained{margin-bottom:2px  !important;}	
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 959px) {
	/*.tinynav {display: none;}*/
	.qirc_logo{max-width:300px;}
	.col-contained{margin-bottom:2px  !important;}	
}

/* IPad certificate */
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .home-tabs-container > a { font-size:1.0em}
  ul#superfish-2 > li, ul#superfish-2 > li > a { font-size: 0.9em }
  .qirc_logo{max-width:200px;}
  .col-contained{min-height:150px;}	

}

@media(min-width: 960px) and (max-width: 999px){
	.qirc_logo{max-width:300px;}
	.home-tabs-container > a { font-size:1.0em}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	/*
	.region-navigation .block__content > .menu {display: block;}*/
	.tinynav {display: none;}
	.qirc_logo{max-width:300px;}
	.home-tabs-container > a { font-size:1.0em}
}

@media (min-width: 1025px){
	qirc_logo{max-width:400px;}
}
/* Larger than Desktop HD */
@media (min-width: 1200px) and (max-width: 1365px) {
	.qirc_logo{max-width:400px;}
	.home-tabs-container > a { font-size:1.0em}
	
}

@media (min-width: 1281px) {
	.home-tabs-container > a { font-size:1.2em}
	.qirc_logo{max-width:400px;}
}





/*** misc ***/
.qirc_lite_grn_bg{
	background-color:#F4FAFD; 
}
/* dark blue menu */
.qirc_mid_grn_bg{
	background-color:#234B7C;
}


/* blues */

.qirc_lite_blue_bg{
	background-color: #234B7C;
}
 
.qirc_mid_blue{
	/*background-color: #294C7A;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d1525+0,342430+24,152f4d+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f0b1d+0,342430+24,152f4d+100 */
 background: #179FD9; /* Old browsers */
/* background: -moz-linear-gradient(left, rgba(111,11,29,1) 0%, rgba(52,36,48,1) 24%, rgba(21,47,77,1) 100%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(left, rgba(111,11,29,1) 0%,rgba(52,36,48,1) 24%,rgba(21,47,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(to right, rgba(111,11,29,1) 0%,rgba(52,36,48,1) 24%,rgba(21,47,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f0b1d', endColorstr='#152f4d',GradientType=1 ); /* IE6-9 */
	
	
	
}
.qirc_drk_steel_blue{
	/*background-color: #681217; */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#152f4d+1,342430+21,342430+32,74121b+93 */
background: #093f56; /* Old browsers */
/* background: -moz-linear-gradient(left, rgba(21,47,77,1) 1%, rgba(52,36,48,1) 21%, rgba(52,36,48,1) 32%, rgba(116,18,27,1) 93%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(left, rgba(21,47,77,1) 1%,rgba(52,36,48,1) 21%,rgba(52,36,48,1) 32%,rgba(116,18,27,1) 93%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right, rgba(21,47,77,1) 1%,rgba(52,36,48,1) 21%,rgba(52,36,48,1) 32%,rgba(116,18,27,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152f4d', endColorstr='#74121b',GradientType=1 );  IE6-9 */

	
	
}


/** Home Panel Animation **/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeover {
    from {background-color: rgb(54,54,54);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

/* Standard syntax */
@keyframes fadeover {
    from {background-color: rgb(41,76,122);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

.col-contained:hover{
	-webkit-animation-name: fadeover; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadeover;
    animation-duration: 2s;
}




/* layout assists - govcms overrides */




.mini-height{height:5px;}

/* Logo */

.qirc_logo{
 max-height:50px;
 width:auto; 
 margin-left:20px;
 margin-top:15px;
 margin-bottom:15px;
}

.region.region-quicklinks{
	margin-top:0.7em !important;
}


/* left hand navigation */
.sidebars_wrapper {
    background-color: #BFD759;
    width: auto;
    float: left;
    height: 100%;
    padding-bottom: 50000em;
    margin-bottom: -50000em;
}
.sidebars_wrapper > a {
    display: block;
    float: left;
    width: 50px;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
    position: relative;
    z-index: 1;
}

.sidebars_wrapper > a > div > span {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    margin-left: -2px;
    line-height: 22px;
    position: absolute;
    white-space: nowrap;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translate(-100%, -100%) rotate(-90deg);
    transform: translate(-100%, -100%) rotate(-90deg);
    position: fixed;
    top: 66px;
}


.sidebars_wrapper > a:nth-child(2) {
    background-color: rgb(54,54,54);
	
}

.sidebars_wrapper > a:hover:nth-child(2){
    -webkit-animation-name: fadesidebars; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadesidebars;
    animation-duration: 2s;
}

.sidebars_wrapper > a:hover:nth-child(1){
    -webkit-animation-name: fadesidebars; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadesidebars;
    animation-duration: 2s;
}

.wrapper{
	margin-left:50px;
}

/* Sidebar CSS Animation */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadesidebars {
    from {background-color: rgb(54,54,54);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

/* Standard syntax */
@keyframes fadesidebars {
    from {background-color: rgb(54,54,54);}
    to {background-color: transparent;}
	from{ color:rgb(255,255,255);}
	to {color: rgb(0,71,143);}
}

/* Page overrides */
div.field.field-name-field-icon-.field-type-image > div > div > a > img{
	display:none !important;
}
